<div class="{{#if containerClass}}{{containerClass}}{{else}}flex items-center gap-2{{/if}}">
  <a href="/" class="{{#if linkClass}}{{linkClass}}{{else}}px-3 py-2 text-sm rounded-lg border border-transparent hover:border-border hover:bg-white/5 transition{{/if}}">
    Рабочие места
  </a>
  <a href="/story" class="{{#if linkClass}}{{linkClass}}{{else}}px-3 py-2 text-sm rounded-lg border border-transparent hover:border-border hover:bg-white/5 transition{{/if}}">
    История
  </a>
  {{#if_more role 2}}
    <a href="/ctrl" class="{{#if linkClass}}{{linkClass}}{{else}}px-3 py-2 text-sm rounded-lg border border-transparent hover:border-border hover:bg-white/5 transition{{/if}}">
      Команды
    </a>
    <a href="/devs" class="{{#if linkClass}}{{linkClass}}{{else}}px-3 py-2 text-sm rounded-lg border border-transparent hover:border-border hover:bg-white/5 transition{{/if}}">
      Устройства
    </a>
  {{/if_more}}
</div>
