<style>
   .container {
    width: 95%;
    }
    .checkbox-card {
        border: 1px solid #ccc;
        border-radius: 5px;
        padding: 10px;
        margin: 10px;
    }
    [type="checkbox"]:not(:checked), [type="checkbox"]:checked {
    position: relative;
    opacity: 100;
      }
</style>

<div class="container"> 
    <div class="row"> 
      <h4 class="center-align">Управление ПК</h4>
      {{#each cmd}}
      <div class="col s6 m3 l2 xl2 input-field center-align">
        <button class="btn cmdsf mbtn" comd="{{@index}}">{{this}}</button>
      </div>
       {{/each}}
    </div>
    <div class="row">
      {{#each laps}}
      <div class="input-field col s12 m12 l3">
        <div class="checkbox-card">
            <label>
                <input type="checkbox" class="filled-in pcinp" name="d{{lapid}}" value="{{lapid}}">
                ID:{{lapid}}
            </label>
            <span class="right" id="times_{{lapid}}">{{times}}</span>
            <ul>
                <li> 
                  <span class="left" id="host_{{lapid}}">Host: {{host}}</span>
                  <span class="right" id="ip_{{lapid}}">{{ip}}</span>
                </li>
                <li> 
                  <span class="left">Состояние:</span>
                  <span class="right" id="lock_{{lapid}}">{{lock}}</span>
                </li>
                <li> 
                  <span class="left">Команда:</span>
                  <span class="right" id="cmd_{{lapid}}">{{cmd}}</span>
                </li>
              </ul>
        </div>
      </div>
      {{/each}}
    </div>


    </div>
</div>

<script>
  timerid = setInterval(inspect, 3000)

    function inspect(){
      $.get( `/lapchg` ).done(function( data ){
        //console.log(data);
        data = JSON.parse(data)
        console.log(data);
        for (const sparam in data) {
            $(`#${sparam}`).text(data[sparam])
            $(`#${sparam}`).parent().after($('#content tr:first-child'))
        }
      })
    }

$('.cmdsf').click(function(){
    var checked = [];
    $('input:checkbox:checked').each(function() {
      checked.push($(this).val());
    }); 
    if (checked.length==0){
      M.toast({html: 'Выберите устройство!', classes: '#ef5350 red lighten-1 rounded'});
      return 0;
    }

    $.get( `/sendcmd`, {cmd:$(this).attr('comd'),lapid:checked }).done(function( data ) {
        console.log(data);
        if (data=="ok"){
          M.toast({html: 'Команда ушла', classes: '#26a69a teal lighten-1 rounded'});
        }
    })
    inspect()

})


</script>

<!-- 
      <div class="input-field col s12">
      <table>
        <thead>
          <tr >
            <th>№ ноутбук</th>
            <th>Хост</th>
            <th>IP</th>
            <th>Блокировка</th>
            <th>Время</th>
            <th>Команда</th>
            <th>Дейсвтие</th>
          </tr>
        </thead>

        <tbody id="content">
        {{#each laps}}    
          <tr>
            <td>{{lapid}}</td>
            <td id="host_{{lapid}}">{{host}}</td>
            <td id="ip_{{lapid}}">{{ip}}</td>
            <td id="lock_{{lapid}}">{{lock}}</td>
            <td id="times_{{lapid}}">{{times}}</td>
            <td id="cmd_{{lapid}}">{{cmd}}</td>
            <td>
            <div class="input-field col s12">
                <select class="cmdsf" id="idcmd_{{lapid}}">
                    <option value="-1" selected disabled>Rоманды</option>
                    {{#each cmds}}  
                        <option id="{{@index}}" value="{{@index}}">{{this}}</option>
                    {{/each}}
                </select>
                <label>Выберите команду</label>
            </div>

            </td>
          </tr>
        {{/each}}   
        </tbody>
      </table>
    </div>

 -->