<div class="container"> 
    <div class="row"> 
    <div class="input-field col s12">

    <div class="input-field col s12">
      <table>
        <thead>
          <tr>
            <th>№ ноутбук</th>
            <th>Хост</th>
            <th>IP</th>
            <th>Блокировка</th>
            <th>Время</th>
            <th>Команда</th>
          </tr>
        </thead>

        <tbody id="content">
        {{#each laps}}    
          <tr>
            <td>{{lapid}}</td>
            <td>{{host}}</td>
            <td>{{ip}}</td>
            <td>{{lock}}</td>
            <td>{{times}}</td>
            <td>{{cmd}}</td>
          </tr>
        {{/each}}   
        </tbody>
      </table>
    </div>


</div>

<script>
   // $('#content').html(``)
    $('#idlasp').change(function(){
        $('#content').html(``)
        console.log($('#idlasp').val())
        $.get( `/getstory`, { lapid:$('#idlasp').val()} ).done(function( data ) {
            console.log(data);
            data = JSON.parse(data)
            console.log(data);
            for (let k = 0; k < data.length; k++) {
                if (data[k].timestop==0){
                  data[k].stopf = 'Не вернул'
                }
                $('#content').append(`
                        <tr>
                            <td>${k+1}</td>
                            <td>${data[k].name}</td>
                            <td>${data[k].startf}</td>
                            <td>${data[k].stopf}</td>
                            <td>${data[k].kab}</td>
                            <td>${data[k].komm}</td>
                        </tr>   
                `)
            }
        })            
    })
</script>