<div class="container"> 
    <div class="row"> 

    <div class="input-field col s12">
      <table>
        <thead>
          <tr >
            <th>№ ноутбук</th>
            <th>Хост</th>
            <th>IP</th>
            <th>Блокировка</th>
            <th>Время</th>
            <th>Команда</th>
            <th>Дейсвтие</th>
          </tr>
        </thead>

        <tbody id="content">
        {{#each laps}}    
          <tr>
            <td>{{lapid}}</td>
            <td id="host_{{lapid}}">{{host}}</td>
            <td id="ip_{{lapid}}">{{ip}}</td>
            <td id="lock_{{lapid}}">{{lock}}</td>
            <td id="times_{{lapid}}">{{times}}</td>
            <td id="cmd_{{lapid}}">{{cmd}}</td>
            <td>
            <div class="input-field col s12">
                <select class="cmdsf" id="idcmd_{{lapid}}">
                    <option value="-1" selected disabled>Rоманды</option>
                    {{#each cmds}}  
                        <option id="{{@index}}" value="{{@index}}">{{this}}</option>
                    {{/each}}
                </select>
                <label>Выберите команду</label>
            </div>

            </td>
          </tr>
        {{/each}}   
        </tbody>
      </table>
    </div>
 </div>
</div>

<script>
  timerid = setInterval(inspect, 3000)
   {{#each cmd}}
   $('.cmdsf').append(`<option id="{{@index}}" value="{{@index}}">{{this}}</option>`)
   {{/each}}

    function inspect(){
      $.get( `/lapchg` ).done(function( data ){
        //console.log(data);
        data = JSON.parse(data)
        console.log(data);
        for (const sparam in data) {
            $(`#${sparam}`).text(data[sparam])
            $(`#${sparam}`).parent().after($('#content tr:first-child'))
        }
      })
    }

    
    $('.cmdsf').change(function(){
        $.get( `/sendcmd`, {cmd:$(this).val(),lapid:$(this).attr('id').replace('idcmd_','') }).done(function( data ) {
            console.log(data);
            if (data=="ok"){
              M.toast({html: 'Команда ушла', classes: '#26a69a teal lighten-1 rounded'});
            }
        })
        inspect()
    })

    $('#idlasp').change(function(){
        $('#content').html(``)
        console.log($('#idlasp').val())
        $.get( `/getstory`, { lapid:$('#idlasp').val()} ).done(function( data ) {
            console.log(data);
            data = JSON.parse(data)
            console.log(data);
            for (let k = 0; k < data.length; k++) {
                if (data[k].timestop==0){
                  data[k].stopf = 'Не вернул'
                }
                $('#content').append(`
                        <tr>
                            <td>${k+1}</td>
                            <td>${data[k].name}</td>
                            <td>${data[k].startf}</td>
                            <td>${data[k].stopf}</td>
                            <td>${data[k].kab}</td>
                            <td>${data[k].komm}</td>
                        </tr>   
                `)
            }
        })            
    })
</script>