<style>
  table{
    height: 35vh;
  }
  .container {
    width: 90%;
}
</style>
<div class="container"> 
    <div class="row">
        <h5>Учет использования</h5>
        <p>{{name}}</p>
        {{#each pc}}    
            <div id="num{{id}}" class="pcard input-field col s12 m6 l3 xl3">
                <table class="centered">
                <tr>
                    <th class="center" >Ноутбук №{{lapid}}</th>  
                    {{#if_eq timestop 0}} 
                     <th class="center #f06292 pink lighten-2" id="bis1">Занят</th>
                     {{else}}
                  <th class="center #a7ffeb teal accent-1" id="bis1">Свободен</th>
                     {{/if_eq}}
                </tr> <!--ряд с ячейками заголовков-->
                <tr><td colspan="2">{{startf}} был в {{kab}}</td></tr> <!--ряд с ячейками тела таблицы-->
                <tr><td colspan="2">Последний: {{name}}</td></tr>
                <tr><td colspan="2">{{komm}}</td></tr>
                <tr> 
                    {{#if_eq timestop 0}} 
                        {{#if_eq me 1}} 
                             <td colspan="2"><a name="{{lapid}}" class="btn mbtn #ef5350 red lighten-1 modal-trigger aftr"  href="#retul">Вернуть</a></td>
                        {{else}}
                              <td colspan="2" class="center #f06292 pink lighten-2" id="bis1">Занят</td>
                        {{/if_eq}}        
                     {{else}}
                        <td colspan="2"><a id="{{lapid}}" class="waves-effect waves-light btn modal-trigger mbtn before" href="#take">Взять</a></td>
                     {{/if_eq}}
                </tr>           
                </table>
            </div>
            {{/each}}     
    </div>      

  <div id="take" class="modal" style="height: 40%;">
    <div class="modal-content">
      <h4>Где вы собираетесь работать с ноутбуком?</h4>
      <div id="idkabdiv" class="input-field col s12 l12 m4">
        <i class="material-icons prefix">computer</i>    
        <select name="kab" id="idkab">
            <option value="-1" selected disabled>Кабинеты</option>
            <option id="0" value="{{kab}}">13 ложа</option>
            <option id="30" value="{{kab}}">Дома</option>
            {{#each kabs}}  
                {{#if kab}}
                <option id="{{kab}}" value="{{kab}}">№{{kab}}</option>
                {{/if}}
            {{/each}}
        </select>
        <label>Кабинет</label>
      </div>
        <input hidden type="text" name="lap" id="lapid">
      <a id="takebtn" class="modal-close btn mbtn">Взять</a>
    </div>
  </div>

  <div id="retul" class="modal" >
    <div class="modal-content">
      <h4>Возникали технические проблемы?</h4>
      <div id="idretuldiv" class="input-field col s12 l12 m4">
            <textarea placeholder="Ваш комментарий" name="new_text" id="new_text" class="materialize-textarea"></textarea>
            <label for="new_text">Нужно что-то чинить, исправлять</label>
      </div>
        <input hidden type="text" name="laps" id="lapidr">
      <a id="retulbtn" class="modal-close btn mbtn">Вернул на место</a>
    </div>
  </div>

</div>

<script>
       $( "#retulbtn" ).click(function() {
            if (!$('#new_text').val()){
                $('#new_text').val('Замечаний нет')
            }
            console.log($('#lapidr').val())
            $.get( `/retlap`, { komm:$('#new_text').val(),lapid:$('#lapidr').val()} ).done(function( data ) {
                console.log(data);
                if (data.st=='ok') {
                M.toast({html: 'Спасибо', classes: '#26a69a teal lighten-1 rounded'});
                } else {
                M.toast({html: `Ошибка`, classes: '#ef5350 red lighten-1 rounded'});
                }
                reload(1)
            }) 
        })

       $( "#takebtn" ).click(function() {
        if ($('#lapid').val()){
            $.get( `/take`, { lapid:$('#lapid').val(),kab:$('#idkab').val()} ).done(function( data ) {
                console.log(data);
               // data = JSON.parse(data)
                if (data.st=='ok') {
                M.toast({html: 'Удачного пользования', classes: '#26a69a teal lighten-1 rounded'});
                
                } else {
                M.toast({html: `Ошибка`, classes: '#ef5350 red lighten-1 rounded'});
                }
                reload(1)
            })    
        }
  
       })
        $( "#takebtn" ).prop('disabled', true);

        $( ".aftr" ).click(function() {
            $('#lapidr').val( $( this ).attr('name'))
        })

        $( ".before" ).click(function() {
            $( "#takebtn" ).prop('disabled', true);
            $('#lapid').val( $( this ).attr('id'))
        })

        $('#idkab').change(function(){
            $( "#takebtn" ).prop('disabled', false);
            console.dir($('#idkab').val());
            })

         var maxh = 0
         function set(){
         $('table').each(function (){ 
          if ($(this).height()>maxh){
            maxh = $(this).height()
          }
         
          } )    
           $('table').each(function (){ 
            $(this).height(maxh)
          } )  
          $('table').height(maxh)
         }


          $(window).on('resize', function(){
            set()
          });
            set()
            setTimeout(set, 3000);
        function reload(p){
            if (p) setTimeout(reload, 350);
            else location.reload();
            }
</script>